.chat{

   flex: 0.7; 
   overflow-y: scroll;
   padding-bottom: 150px;
}
.chat__header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid rgb(211, 211, 211);
}

.chat__headerright > p{
    display: flex;
    align-items: center;

}

.chat__headerright > p > .MuiSvgIcon-root{
margin-right: 5px !important;
font-size: 15px;

}
.Channel_Name{
    display: flex;
    text-transform: lowercase;
}
.Channel_Name > .MuiSvgIcon-root{
 margin-left: 10px;
 font-size: 20px;
}